.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 303px;
  max-height: 403px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.imgg {
  /* background-color: rgb(56, 55, 55); */
  width: 45%;
  height: 35%;
  min-height: 20%;
  margin: 0;
  padding: 0;
}
.imgg img {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
}
.imgg p {
  margin: 0;
  padding: 0;
}

/* .txt {
  background-color: rgb(11, 11, 11);
  width: 95%;
  height: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;
 
} */

.card {
  /* background-color: rgb(222, 151, 57); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 1.2rem; */
  /* font-size: 12px; */
  /* min-height: 50vh; */
  max-height: 200px;
  width: 95%;
  height: 40%;
  gap: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  flex: 1;
  overflow-y: auto;
}

.noScroll {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.card::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

table {
  width: 100%;
  
}

.thdd {
  background-color: rgb(31, 30, 30);
  font-size: 11px;
  /* height: 300px; */
}
.thdd > th {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tbo {
  text-align: center;
  align-items: center;
  

  /* background-color: black; */
}

td {
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  color: rgb(199, 203, 203);
}
tr:nth-child(even) {
  background-color: rgba(140, 137, 137, 0.077);
}

.card thead {
  position: sticky;
  top: 0;
  z-index: 1;
  /* background: linear-gradient( 89.7deg, rgb(34, 35, 43) -10.7%,rgb(1, 18, 32) 88.8%); */
}
.colspn {
  height: 1rem;
  font-size: 14px;
  background-color: rgba(90, 32, 32, 0);
}

.btn1 {
  background: none;
  color: aliceblue;
  font-size: 11px;
  cursor: pointer;
}
.inputVenue {
  width: 6rem;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(157, 155, 155);
  outline: none;
  color: white;
  font-size: 11px;
}
.btnDiv {
  display: flex;
  /* align-items: end; */
  position: relative;
  justify-content: flex-end;
  margin-right: 2rem;
  width: 100%;
}
.adduser {
  margin-top: 10px;
  background-color: rgb(11, 11, 11);
  border: none;
  border-bottom: 1px solid rgb(143, 142, 144);
  color: white;
  padding-bottom: 4px;
  font-size: 10px;
  cursor: pointer;
}

.adduser:hover {
  border-bottom: 1px solid rgb(250, 250, 251);
}
.headtext {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 600;
  /* margin-bottom: 1rem; */
  /* background-color: rgb(9, 14, 76); */
}

.icondiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: rgb(26, 27, 26); */
  width: 90%;
 
}
