.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.head > img {
  width: 1rem;
}

.conDiv {
  align-items: center;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  max-height: 300px;
  /* height: 100vh; */
}

.form {
  /* background-color: #15172b; */
  border-radius: 20px;
  box-sizing: border-box;
  height: 100%;
  padding: 1px;
  width: 90%;
}

.inputContainer {
  height: 40px;
  position: relative;
  width: 100%;
}
.inputContainer1 {
  height: 50px;
  position: relative;
  width: 100%;
}
.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: transparent;
  /* border-radius: 12px; */
  border: none;
  /* border-bottom: 0.4px solid rgb(160, 74, 42); */
  border-bottom: solid rgb(96, 105, 132);
  border-bottom-width: 0.5px;

  box-sizing: border-box;
  color: #c7c5c5;
  font-size: 11px;
  height: 100%;
  outline: 0;
  padding: 4px 10px 0;
  width: 100%;
}

.cut {
  background-color: #070707;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut1 {
  background-color: #070707;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 176px;
}
.cutShort1 {
  width:110px;
}
.cutShort {
  width: 50px;
}
.input1{
  background-color: transparent;
  /* border-radius: 12px; */
  border: none;
  /* border-bottom: 0.4px solid rgb(160, 74, 42); */
  border-bottom: solid rgb(96, 105, 132);
  border-bottom-width: 0.5px;

  /* box-sizing: border-box; */
  color: #c7c5c5;
  font-size: 11px;
  height: 100%;
  outline: 0;
  padding: 23px 10px 0;
  width: 312px;
 margin-left: 0px;
  
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #4d4d4e;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 12px;
  font-size: 13px;
}

.placeholder1 {
  color: #4d4d4e;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: -3px;
  font-size: 13px;
  width: 100%;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: rgb(247, 244, 243);
}

.submit {
  background: linear-gradient(
    89.7deg,
    rgb(21, 21, 21) -10.7%,
    rgb(8, 58, 99) 88.8%
  );
  /* background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);   */
  box-sizing: border-box;
  color: rgb(195, 192, 192);
  cursor: pointer;
  border: none;
  font-size: 14px;
  height: 40px;
  margin-top: 30px;
  /* outline: 0; */
  text-align: center;
  width: 100%;
}

.submit:hover {
  background-color: rgb(66, 240, 240);
  color: white;
}
.heading1 {
  color: #dcdcde;
  font-weight: 500;
}


.othermachine{
  font-size: 11px;
  align-self: center;
  margin-top: 1rem;
  color: #808097;
}

.innerSpn{
  color: #b9b9b9;
  cursor: pointer;
}

.innerSpn:hover{
  color: #dcdcde;
}
.item{
  border: none;
  text-decoration: none;
}

.demoDiv{
  display: flex;
  flex-direction: column;
  
}