.container {
  width: 100%;
  max-width: 130rem;
  padding: 0rem 4rem;
  display: flex;
  gap: 2rem;
}

.dashboard {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboardHead {
  display: flex;
  flex-direction: column;
}

.dashboardHead > .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head > :nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
}

.durationButton > span {
  border: none;
  background: var(--transparent-black);
  padding: 8px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 0.8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.2rem;
  font-size: 12px;
  min-height: 50vh;
  max-height: 300px;
  flex: 1;
  overflow-y: auto;
}

.cards::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.cards::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); 
  border-radius: 0.25rem; 
}

table {
  width: 100%;
  
  
}
.thdd{
    background-color: rgb(31, 30, 30);
    
}
.thdd>th{
    padding-top: 5px;
    padding-bottom: 5px;
}

.tbo {
  text-align: center;
  align-items: center;
   
  /* background-color: black; */
  
  
}

td {
  height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(199, 203, 203);
  
}
tr:nth-child(even) {
    background-color: rgba(140, 137, 137, 0.077);
    
  }
  
.cards thead {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  /* background: linear-gradient( 89.7deg, rgb(34, 35, 43) -10.7%,rgb(1, 18, 32) 88.8%); */
}
.colspn {
  height: 300px;
  font-size: 14px;
  background-color: rgba(90, 32, 32, 0);
  
  
}

.btn1{
  background: none;
  color: aliceblue;
  font-size: 11px;
  cursor: pointer;
}
.inputVenue{
  width:6rem;
  margin: 0;
  padding: 0;
  background:transparent;
  border: none;
  border-bottom: 1px solid rgb(157, 155, 155);
  outline: none;
  color: white;
  font-size: 11px;
}

.snrow{
  cursor: pointer;
}

.snrow:hover{
  color: white;
}