.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 300px;
}

.form {
  border-radius: 20px;
  box-sizing: border-box;
  height: 100%;
  padding: 1px;
  width: 90%;
}

.inputContainer {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(96, 105, 132);
  border-bottom-width: 0.5px;
  box-sizing: border-box;
  color: black;
  font-size: 11px;
  height: 100%;
  outline: 0;
  padding: 4px 10px 0;
  width: 100%;
}

.cut {
  background-color: white;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cutShort {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #c3c3c5;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 12px;
  font-size: 13px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.9);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: black;
}

.submit {
  background: linear-gradient(
    89.7deg,
    rgb(21, 21, 21) -10.7%,
    rgb(8, 58, 99) 88.8%
  );
  box-sizing: border-box;
  color: rgb(195, 192, 192);
  cursor: pointer;
  border: none;
  font-size: 14px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.submit:hover {
  background-color: rgb(66, 240, 240);
  color: white;
}
.heading1 {
  color: #dcdcde;
  font-weight: 500;
}

.demoDiv {
  display: flex;
  flex-direction: column;
}
.othermachine {
  font-size: 11px;
  align-self: center;
  margin-top: 1rem;
  color: #808097;
}

.innerSpn {
  color: #b9b9b9;
  cursor: pointer;
}

.innerSpn:hover {
  color: #dcdcde;
}
.item {
  border: none;
  text-decoration: none;
}