.container {
  display: flex;
}

.dashboard {
  position: relative;
  width: 100%;
  z-index: 0;
}

.toBaseGradients {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  overflow: hidden;
  z-index: -1;
}

.toBaseGradients > :nth-child(2) {
  left: 40%;
}
.toBaseGradients > :nth-child(3) {
  right: 0;
}

.header {
  display: flex;
  padding: 1rem 4rem;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.header > :nth-child(1) {
  font-size: 0.8rem;
  color: rgb(180, 177, 177);
}
.searchBar {
  background-color: rgba(220, 219, 219, 0.496);
  width: 30%;
  max-width: 25rem;
  padding: 1rem 1rem;
  /* border-radius: 8px; */
  height: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid rgb(63, 63, 63);
  justify-content: center;
  gap: 8px;
}

.searchBar > input {
  background: transparent;
  color: black;
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
}
.profile {
  display: flex;
  gap: 0rem;
  align-items: center;
  justify-content: center;
}
.profile > img {
  height: 40px;
  width: 40px;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.detail > span {
  font-size: 0.8rem;
}
.detail > img {
  width: 110px;
  height: 20px;
  
}
.detail > :nth-child(1) {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgba(247, 247, 250, 0.837);
}
.detail > :nth-child(2) {
  color: rgba(199, 199, 199, 0.895);
  font-size: 11px;
}
