.container{
    width: 100%;
    max-width: 130rem;
    padding: 0rem 4rem;
    display: flex;
    gap:2rem;
    
}

.dashboard{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dashboardHead{
    display: flex;
    flex-direction: column;
}
.dashboardHead>.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head>:nth-child(1){
    font-size: 1rem;
    font-weight: 500;
}

.durationButton>span{
    border: none;
    background: var(--transparent-black);
    padding: 8px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 0.8rem;

}
.cards{
    display: flex;
    flex-direction: row;
    /* align-items:center; */
    justify-content: space-between; 
    margin-top: -1rem;
    font-size: 12px;
    min-height: 49vh;
    max-height: 330px;
    

      
}
.conDiv {
    align-items: center;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    width: 65%;
    /* height: 100vh; */
    height: 100%;
  }
  
  .form {
    /* background-color: #15172b; */
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    width: 90%;
  }
  
  .inputContainer {
    height: 35px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 30px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: transparent;
    /* border-radius: 12px; */
    border: none;
    /* border-bottom: 0.4px solid rgb(160, 74, 42); */
    border-bottom: solid rgb(96, 105, 132);
    border-bottom-width: 0.5px;
  
    box-sizing: border-box;
    color: #c7c5c5;
    font-size: 11px;
    height: 100%;
    outline: 0;
    padding: 4px 10px 0;
    width: 100%;
  }
  
  /* .cut {
    background-color: #070707;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  } */
  
  .cutShort {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(1px);
  }
  
  .placeholder {
    color: #4d4d4e;
    font-family: sans-serif;
    left: 20px;
    line-height: 11px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 18px;
    font-size: 13px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-25px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: rgb(247, 244, 243);
  }
  
  .submit {
    background: linear-gradient(
      89.7deg,
      rgb(21, 21, 21) -10.7%,
      rgb(8, 58, 99) 88.8%
    );
    /* background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);   */
    box-sizing: border-box;
    color: rgb(195, 192, 192);
    cursor: pointer;
    border: none;
    font-size: 14px;
    height: 40px;
    margin-top: 30px;
    /* outline: 0; */
    text-align: center;
    width: 100%;
  }
  
  .submit:hover {
    background-color: rgb(66, 240, 240);
    color: white;
  }
  .heading1 {
    color: #dcdcde;
    font-weight: 500;
  }
  
  .innimg{
    display: flex;
    background-color:transparent;
    width: 30%;
    height: 84.5%;
    margin-top: 50px;
    /* justify-content: center; */
    /* text-align: center; */
    align-items: center;
  }
  .innimg>img{
    width: 100%;
    height: 60%;
  }

  .sel{
 
  background-color:transparent;
  border: none;
  border-bottom: 1px solid rgb(175, 173, 177);
  outline: none;
  }