.container {
  height: 100vh;
  width: 7%;
  max-width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem, 0rem;
  background-color: rgb(20, 20, 20);
}

.logo {
  width: 35%;
  margin-top: 1.4rem;
}

.menu {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.item > svg {
  fill: white;
  width: 25px;
  height: 25px;
}

.logoutDiv {
  position: absolute;
  bottom: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoutDiv > svg {
  width: 21px;
  height: 21px;
}
.logoutDiv > p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: rgb(175, 173, 173);
}
