.container {
    width: 100%;
    max-width: 130rem;
    padding: 0rem 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .dashboard {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .dashboardHead {
    display: flex;
    flex-direction: column;
  }
  
  .dashboardHead > .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .head > :nth-child(1) {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .durationButton {
    padding: 6px;
    text-align: center;
    font-size: 12px;
    width: 150px;
    transition: 0.5s;
    color:rgb(175, 173, 177) ;
    background-color:black;
    border: none;
    border-bottom: 1px solid rgb(175, 173, 177);
    outline: none;
  }
  
  .durationButton:hover {
    background-position: right center;
  }
  
  .tableLayout {
    width: 100%;
    height: fit-content;
  }
  
  .inn {
    display: flex;
    text-align: center;
    /* min-height: 48vh; */
    max-height: 280px;
    width: 50%;
    /* flex: 1; */
    overflow-y: auto;
    position: relative; /* Added */
  }
  
  .inn::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  
  .inn::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.25rem;
  }
  
  .headt {
    position: sticky; /* Changed from 'static' */
    top: 0;
    z-index: 1;
    background-color: rgb(29, 28, 28); /* Added background color for visibility */
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    font-size: 12px;
    min-height: 48vh;
    max-height: 280px;
  }
  .present{
    padding: 5px;
    width: 162px;
    height: fit-content;
    margin-left:20.2%;
    color:rgb(221, 217, 217);
    font-size: 11px;
    /* background-color: rgb(5, 44, 6); */
    margin-top: -23px;
    color: rgb(165, 165, 169);
    
    
  }

.spnTi{
  color: green;
  font-size: 15px;
}
  
  .inp{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(194, 193, 193);
    /* padding-top: 3px; */
    padding-bottom: 4px;
    color: aliceblue;
    font-size: 13px;
    margin-right: 4px;
   
  }
  .inp:focus-within{
    outline: none;
    border-bottom:1px solid rgb(255, 255, 255);
  }
 .pleaseselect{
  color: rgb(207, 7, 7);
 }


 .loader {
  border: 4px solid #6e6d6d; 
  border-top: 4px solid #f9f9f9; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-left: 13rem;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}